HELO:<miikas-mbp.home>
FROM:<competence-matching-service>
TO:<anna.korhonen@example.com>

Date: Tue, 30 Sep 2025 13:22:29 +0300 (EEST)
From: competence-matching-service
To: anna.korhonen@example.com
Message-ID: <650278251.0.1759227749624@miikas-mbp.home>
Subject: New Skill Created
MIME-Version: 1.0
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 7bit

A new skill was created: python with rating 4